main img{
    width: 100%;
}

#suplementos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 15px;
}

#suplementos > article{
    background-color:whitesmoke;
    padding: 10px 12px;
    margin: 20px;
    justify-content: space-between;
    width: 15%;
    border-radius: 25px;
    transition: all 0.3s ease;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2)
}

#suplementos  article:hover{
    transform: scale(1.1);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

#suplementos article figure{
    text-align: center;
    color: black;
    text-decoration: none;
}

#suplementos article figure img{
    width: 100%;
    border-radius: 20px;
}

#suplementos article h5{
    font-size: 18px;
    text-align: center;
}

button.compra{
    display: flex;
    margin:auto;
    font-size: 14px;
    padding: 6px 7px;
    background-color:cadetblue;
    border: none;
    border-radius: 5px;
    transition: 0.2s;
}

button.compra:hover{
    background-color: deepskyblue;
}

button.compra a{
    text-decoration: none;
    color: white;
}

#equipos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 15px;
}

main > h3{
    text-align: center;
    font-size: 30px;
    margin: 25px;
}

#equipos > article{
    background-color:whitesmoke;
    padding: 10px 12px;
    margin: 20px;
    justify-content: space-between;
    width: 15%;
    border-radius: 25px;
    transition: all 0.3s ease;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2)
}

#equipos  article:hover{
    transform: scale(1.1);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

#equipos article figure{
    text-align: center;
    color: black;
    text-decoration: none;
}

#equipos article figure img{
    width: 100%;    
    height: 150px;
    border-radius: 20px;
}

#equipos article h5{
    font-size: 18px;
    text-align: center;
}

.descr{
    display: flex;
    margin-top: 20px;
}

#imagenventa{
    width: 50%;
    padding-top: 30px;
}

#imagenventa img{
    width: 70%;
    margin-left: 30px;
}

#info{
    width: 50%;
}

#info .detalles{
    width: 65%;
    padding-top: 30px;
    padding-bottom: 30px;
}

#info .detalles h4{
    font-size: 20px;
    padding: 40px 0 20px 0;
}

#info .detalles p{
    font-size: 20px;
}

#info .detalles h2{
    font-size: 50px;
}

#info .detalles select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#info .detalles input{
    width: 30px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

main h2{
    font-size: 35px;
    margin: 25px;
}

.relac{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.relac article{
    background-color:whitesmoke;
    padding: 10px 12px;
    margin: 20px;
    justify-content: space-between;
    width: 15%;
    border-radius: 25px;
    transition: all 0.3s ease;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2)
}

.relac article:hover{
    transform: scale(1.1);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.relac article figure{
    text-align: center;
    color: black;
    text-decoration: none;
}

.relac article figure img{
    width: 100%;    
    border-radius: 20px;
}

.relac article h5{
    font-size: 18px;
    text-align: center;
}

footer{
    background-color: black;
    color: aliceblue;
}

footer p{
    text-align: center;
}