#pie{
    background-color: gray;
    text-align: center;
    color: white;
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr auto;
    grid-template-areas:
    "paginas contactos redes"
    "derechos derechos derechos";
}

#pie .paginas{
    grid-area: paginas;
}

#pie .contactos{
    grid-area: contactos;
}

#pie .redes{
    grid-area: redes;
}

#pie .derechos{
    grid-area: derechos;
}


#pie h3{
    margin: 10px;
    color: black;
}

#pie li{
    margin: 5px;
    list-style: none;
}

#pie li a{
    text-decoration: none;
    color: white;
}

#pie p{
    background-color: black;
}

