#pie{
    background-color: gray;
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr auto;
    grid-template-areas:
    "paginas contactos redes"
    "derechos derechos derechos";
    justify-items: center;
}

.paginas{
    grid-area: paginas;
    padding-left: 20px;
    padding-top: 20px;
}

.contactos{
    grid-area: contactos;
    padding-left: 20px;
    padding-top: 20px;
}

.redes{
    grid-area: redes;
    padding-left: 20px;
    padding-top: 20px;
}

.derechos{
    grid-area: derechos;
    text-align: center;
    border-top: 3px solid white;
    justify-self: normal;
}


#pie h3{
    font-size: 25px;
    color: white;
}

#pie li{
    margin: 10px;
    list-style: none;
}

#pie li a{
    text-decoration: none;
    color: white;
}

#pie p{
    background-color: black;
}

.redes i{
    margin-right: 10px;
}
