#main{
    display: grid;
    gap: 100px;
    margin: 70px 0;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 90px 1fr;
    justify-content: center;
    gap: 30px;
}

.subtitulo{
    grid-column: 1 / -1;
    text-align: center;
    font-size: 50px;
    color: whitesmoke;
}

.subtitulo .ofrecemos{
    color: cyan;
    font-size: 60px;
}

.productos a{
    color: cyan;
    text-decoration: none;
    background-color: black;
    outline: 2px solid white;
    padding: 10px;
}

.productos a:hover{
    color: gray;
}

.productos a:active{
    color: green;
}



.productos figure{
    height: 100%;
}

.productos img{
    width: 100%;
    height: 300px;
}

.productos .texto-productos{
    text-align: center;
    font-size: 40px;
}

.informacion{
    background-color: rgb(15, 15, 15);
    display: flex;
    gap: 20px;
}

.informacion img{
    width: 50%;
}


.informacion .texto{
    width: 50%;
    padding: 30px;
    text-align: center;
}

.informacion .texto h3{
    color: cyan;
    font-size: 41px;
    margin-bottom: 25px;
}

.informacion .texto p{
    color: yellow;
    font-size: 35px;
}

.acercade{
    background-color: rgb(15, 15, 15);
    display: flex;
    gap: 20px;
}

.acercade .texto{
    width: 50%;
    padding: 50px;
    text-align: center;
}

.acercade .texto h3{
    color: rgb(231, 211, 211);
    font-size: 70px;
    margin-bottom: 25px;
}

.acercade .texto p{
    color: white;
    font-size: 40px;
}

.acercade img{
    width: 50%;
}